@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #262626;
    color: white;
}

main {
    max-width: 1366px;
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #99DAFF;
}

p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 20px;
}

.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    background-color: #99DAFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .audio-element {
        width: 100%;
    }
}